<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:b="http://bootsfaces.net/ui">
<body>
<ui:composition template="template.xhtml">
    <ui:define name="loggedContent">
        <h2>Neues Spiel erstellen</h2>
        <hr/>
        <b:form horizontal="true">
         	<b:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
            <b:inputText value="#{game.project}" placeholder="Geben sie hier den Spielnamen ein!"
                         required="true" label="Spielname" colMd="10" labelColMd="2">
                <f:facet name="prepend">
                    <b:iconAwesome name="edit"/>
                </f:facet>
            </b:inputText>
            <b:selectOneMenu value="#{game.unit}" colMd="10" required="true" label="Einheit" labelColMd="2">
                <f:selectItem itemLabel="(Please select)" itemValue=""/>
                <f:selectItem itemLabel="Tage" itemValue="Tage"/>
                <f:selectItem itemLabel="Wochen" itemValue="Wochen"/>
                <f:selectItem itemLabel="Monate" itemValue="Monate"/>
                <f:facet name="prepend">
                    <b:iconAwesome name=" fa-hourglass-end"/>
                </f:facet>
            </b:selectOneMenu>
            <b:panelGrid colSpans="12" size="sm">
                <b:panel title="Karten auswählen" collapsible="true" look="primary">
                    <h:outputText value="Wählen sie für das Spiel die möglichen Karten aus"/>
                    <b:selectMultiMenu value="#{game.selectedCards}">
                        <f:selectItems value="#{card.listCards()}"/>
                    </b:selectMultiMenu>
                </b:panel>
                <b:panel title="Spieler auswählen" collapsible="true" look="primary">
                    <h:outputText value="Wählen sie für das Spiel die Teilnehmer aus"/>
                    <b:selectMultiMenu value="#{game.selectedPlayers}">
                        <f:selectItems value="#{user.listUsers()}"/>
                    </b:selectMultiMenu>
                </b:panel>
            </b:panelGrid>
            <b:commandButton action="#{game.createGame(user)}" value="Erstellen"/>
        </b:form>
    </ui:define>
</ui:composition>
</body>
</html>