<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:b="http://bootsfaces.net/ui">
<body>
<ui:composition template="template.xhtml">
    <ui:define name="content">
        <h1>The one and only Planning Poker</h1>
        <h3>not really, but it sounds good</h3>
        <hr/>
        <b:panelGrid colSpans="4,4,4" size="sm">
            <c:if test="#{user.loggedIn}">
                <h:link outcome="createGame" style="text-decoration: none">
                    <b:panel title="Neues Spiel erstellen" collapsible="false" look="primary">
                        <h:outputText value="Erstellen Sie ein neues Spiel."/>
                    </b:panel>
                </h:link>
                <h:link outcome="runningGame" style="text-decoration: none">
                    <b:panel title="Laufende Spiele" collapsible="false" look="info">
                        <h:outputText value="Sie haben #{user.runningGames.size()} laufende Spiele. "/>
                        <c:if test="#{user.noAnswer()>0}">
                            <f:attribute name="look" value="primary"/>
                            <h:outputText value="Davon sind #{user.noAnswer()} noch nicht beantwortet."/>
                        </c:if>
                    </b:panel>
                </h:link>
                <h:link outcome="finishedGame" style="text-decoration: none">
                    <b:panel title="Beendete Spiele" collapsible="false" look="info">
                        <h:outputText value="Sie haben #{user.finishedGames.size()} beendete Spiele. "/>
                        <c:if test="#{user.notSeen()>0}">
                            <f:attribute name="look" value="primary"/>
                            <h:outputText
                                    value="Davon haben Sie von #{user.notSeen()} noch nicht das Ergebnis gesehen."/>
                        </c:if>
                    </b:panel>
                </h:link>
            </c:if>
            <c:if test="#{!user.loggedIn}">
                <b:panel title="Neues Spiel erstellen" collapsible="false" look="warning">
                    <h:outputText value="Bitte loggen Sie sich ein, um ein neues Spiel zu erstellen."/>
                </b:panel>
                <b:panel title="Laufende Spiele" collapsible="false" look="warning">
                    <h:outputText value="Bitte loggen Sie sich ein, um Ihre laufenden Spiele zu sehen."/>
                </b:panel>
                <b:panel title="Beendete Spiele" collapsible="false" look="warning">
                    <h:outputText value="Bitte loggen Sie sich ein, um Ihre beendeten Spiele zu sehen."/>
                </b:panel>
            </c:if>
        </b:panelGrid>
    </ui:define>
</ui:composition>
</body>
</html>