<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:b="http://bootsfaces.net/ui">

<body>
<ui:composition template="template.xhtml">
    <ui:define name="content">
        <c:if test="#{!user.loggedIn}">
            <h2>Login</h2>
            <hr/>
            <h:form>
                <b:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
                <!-- Formular zur Eingabe der Anmeldedaten -->
                <b:inputText placeholder="Username" value="#{user.username}" required="true" label="Username" colMd="9"
                             labelColMd="3">
                    <f:facet name="prepend">
                        <b:icon name="user"/>
                    </f:facet>
                </b:inputText>
                <b:inputSecret placeholder="Passwort" value="#{user.password}" required="true" label="Passwort"
                               colMd="9"
                               labelColMd="3">
                    <f:facet name="prepend">
                        <b:iconAwesome name="key"/>
                    </f:facet>
                </b:inputSecret>
                <b:commandButton action="#{user.login}" value="Anmelden"/>
            </h:form>
            <hr/>
            <h:outputText value="Noch nicht registriert? Jetzt "/>
            <h:link outcome="register">hier</h:link>
            <h:outputText value=" registrieren."/>
        </c:if>
        <c:if test="#{user.loggedIn}">
            <h1>Sie sind bereits eingeloggt</h1>
        </c:if>
    </ui:define>
</ui:composition>
</body>
</html>