<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:b="http://bootsfaces.net/ui">
<body>
<ui:composition template="template.xhtml">
    <ui:define name="loggedContent">
        <h2>Laufende Spiele</h2>
        <hr/>
        <b:panel title="laufende Spiele unbeantwortet" collapsible="true" look="primary">
            <h:outputText value="Bitte beantworten Sie das Spiel!"/>
            <h:form>
                <!-- hier müsssen die zu noch beantwortenen Spiele rein-->
                <b:dataTable value="#{user.listUnansweredGames()}" var="runningGame">
                    <b:dataTableColumn width="15px">
                        <f:facet name="header">
                            <ul style="margin-bottom:0;list-style-type:none;padding-left:0">
                                <li>Id</li>
                            </ul>
                        </f:facet>
                        <h:outputText value="#{runningGame.id}"/>
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            <ul style="margin-bottom:0;list-style-type:none;padding-left:0">
                                <li>Projektname</li>
                            </ul>
                        </f:facet>
                        <h:outputText value="#{runningGame.project}"/>
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            <ul style="margin-bottom:0;list-style-type:none;padding-left:0">
                                <li>Ersteller-ID</li>
                            </ul>
                        </f:facet>
                        <h:outputText value="#{runningGame.creator}"/>
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            <ul style="margin-bottom:0;list-style-type:none;padding-left:0">
                                <li>Einheit</li>
                            </ul>
                        </f:facet>
                        <h:outputText value="#{runningGame.unit}"/>
                    </b:dataTableColumn>
                    <b:dataTableColumn style="width: 150px" orderable="false">
                        <f:facet name="header">
                            <ul style="margin-bottom:0;list-style-type:none;padding-left:0">
                                <li>Auswahl</li>
                            </ul>
                        </f:facet>
                        <b:selectOneMenu value="#{runningGame.answer}">
                            <f:selectItem itemLabel="(Wählen Sie Ihre Antwort)" itemValue=""/>
                            <f:selectItems value="#{runningGame.listCardset()}"/>
                        </b:selectOneMenu>
                    </b:dataTableColumn>
                    <b:dataTableColumn style="width: 130px" orderable="false">
                        <f:facet name="header">
                            <ul style="margin-bottom:0;list-style-type:none;padding-left:0"/>
                        </f:facet>
                        <b:commandButton value="Antwort speichern" look="primary"/>
                    </b:dataTableColumn>
                </b:dataTable>
            </h:form>
        </b:panel>
        <b:panel title="laufende Spiele beantwortet" collapsible="true" look="primary">
            <h:outputText value="Hier wird noch auf die Antworten der anderen Teilnehmer gewartet"/>
            <h:form>
                <!-- hier werden die (von diesem User) beantworteten Spiele angezeigt -->
                <b:dataTable value="#{user.listAnsweredGames()}" var="answeredGame">
                    <b:dataTableColumn width="15px">
                        <f:facet name="header">
                            <ul style="margin-bottom:0;list-style-type:none;padding-left:0">
                                <li>Id</li>
                            </ul>
                        </f:facet>
                        <h:outputText value="#{answeredGame.id}"/>
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            <ul style="margin-bottom:0;list-style-type:none;padding-left:0">
                                <li>Projektname</li>
                            </ul>
                        </f:facet>
                        <h:outputText value="#{answeredGame.project}"/>
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            <ul style="margin-bottom:0;list-style-type:none;padding-left:0">
                                <li>Ersteller-ID</li>
                            </ul>
                        </f:facet>
                        <h:outputText value="#{answeredGame.creator}"/>
                    </b:dataTableColumn>
                    <b:dataTableColumn>
                        <f:facet name="header">
                            <ul style="margin-bottom:0;list-style-type:none;padding-left:0">
                                <li>Einheit</li>
                            </ul>
                        </f:facet>
                        <h:outputText value="#{answeredGame.unit}"/>
                    </b:dataTableColumn>
                    <b:dataTableColumn style="width: 150px" orderable="false">
                        <f:facet name="header">
                            <ul style="margin-bottom:0;list-style-type:none;padding-left:0">
                                <li>Antwort</li>
                            </ul>
                        </f:facet>
                        <h:outputText value="#{answeredGame.answer}"/>
                    </b:dataTableColumn>
                </b:dataTable>
            </h:form>
        </b:panel>
    </ui:define>
</ui:composition>
</body>
</html>


