<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:b="http://bootsfaces.net/ui">
<h:head/>
<h:body>
    <f:loadBundle basename="resources.message" var="msg"/>
    <b:navBar brand="PlanPoker ©" brandHref="index.xhtml" fixed="top" inverse="true">
        <!-- hier befindet sich die Navigation -->
        <h:form>
            <b:navbarLinks>
                <!-- Links zu allen Seiten -->
                <b:navLink value="#{msg['nav.start']}" outcome="index"/>
                <b:navLink value="#{msg['nav.newGame']}" outcome="createGame"/>
                <b:navLink value="#{msg['nav.runningGames']}" outcome="runningGame"/>
                <b:navLink value="#{msg['nav.finishedGames']}" outcome="finishedGame"/>
            </b:navbarLinks>
            <b:navbarLinks pull="right">
                <b:dropMenu value="#{msg['nav.language']}">
                    <f:view locale="#{localeController.locale}">
                        <b:navCommandLink value="English" action="#{localeController.change('en-US')}"/>
                        <b:navCommandLink value="Deutsch" action="#{localeController.change('de-DE')}"/>
                    </f:view>
                </b:dropMenu>
                <!-- Login/Logout Links -->
                <c:if test="#{!user.loggedIn}">
                    <b:navLink value="Login" outcome="login"/>
                </c:if>
                <c:if test="#{user.loggedIn}">
                    <!-- führt direkt Logout aus -->
                    <b:navCommandLink value="Logout" action="#{user.logout}"/>
                </c:if>
            </b:navbarLinks>
        </h:form>
    </b:navBar>
    <b:container>
        <b:jumbotron>
            <ui:insert name="content">
                <!-- hier folgt der Inhalt der Seite (innerhalb des Jumbotron) -->
                <!-- folgende if-tags nur bei Seiten verwenden, die Login benötigen! -->
                <c:if test="#{!user.loggedIn}">
                    <!-- was angezeigt werden soll, wenn User nicht eingeloggt ist -->
                    <h2>Sie sind nicht eingeloggt</h2>
                    <h:outputText value="Bitte loggen Sie sich "/>
                    <h:outputLink outcome="login">hier</h:outputLink>
                    <h:outputText value=" ein."/>
                </c:if>
                <c:if test="#{user.loggedIn}">
                    <ui:insert name="loggedContent">
                        <!-- was angezeigt werden soll, wenn User eingeloggt ist -->
                        <h1>Sie sind eingeloggt</h1>
                    </ui:insert>
                </c:if>
            </ui:insert>
        </b:jumbotron>
    </b:container>
</h:body>
</html>